*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
/* 
- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900 
*/
:root {
  --first-breakpoint: 800px;
  --Primary-Soft-Red: rgb(254, 120, 103);
  --Primary-Soft-Red-low-opacity: rgb(254, 120, 103, 0.5);
  --Primary-Yellow: rgb(250, 212, 0);
  --Primary-Yellow-low-opacity: rgba(250, 212, 0, 0.5);
  --Primary-Dark-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Primary-Dark-Blue-photography-text: hsl(198, 62%, 26%);
  --Primary-Moderate-cyan-footer: hsl(167, 44%, 70%);
  --Primary-Moderate-cyan-footer-text: hsl(168, 34%, 41%);
  --Neutral-Very-Dark-desaturated-Blue: hsl(212, 27%, 19%);
  --Neutral-Very-Dark-Grayish-Blue: hsl(213, 9%, 39%);
  --Neutral-Dark-Grayish-Blue: hsl(232, 10%, 55%);
  --Neutral-Grayish-Blue: hsl(210, 4%, 67%);
  --Neutral-White: hsl(0, 0%, 100%);
  --FF-Barlow: "Barlow", sans-serif;
  --FF-Fraunces-headings: "Fraunces", serif;
  --body-FS: 18px;
  --text-align: center;
  --top-picture-container-image: url("./Assets/images/mobile/image-header.jpg");
  --egg-photo-container: url("./Assets/images/mobile/image-transform.jpg");
  --glass-photo-container: url("./Assets/images/mobile/image-stand-out.jpg");
  --cherry-photo-container: url("./Assets/images/mobile/image-graphic-design.jpg");
  --mandaline-photo-container: url("./Assets/images/mobile/image-photography.jpg");
  --bottles: url("./Assets/images/mobile/image-gallery-milkbottles.jpg");
  --orange: url("./Assets/images/mobile/image-gallery-orange.jpg");
  --cone: url("./Assets/images/mobile/image-gallery-cone.jpg");
  --sugar: url("./Assets/images/mobile/image-gallery-sugar-cubes.jpg");
  --nav-items-flex-direction: column;
  --hamburger-display: block;
  --body-photos-width: 100vw;
  --testimonial-container-flex-direction: column;
  --overlay-display: inline;
  --photos-list-template-grid-columns: repeat(2, 1fr);
  --photo-list-each-photo-width: 50vw;
  --header-text-fs: 1rem;
  --nav-links-color: hsl(213, 9%, 39%);
  --nav-links-hover-color: hsl(212, 27%, 19%);
  --contact-bg-color: hsl(51, 100%, 49%);
  --text-box-max-width: 600px;
}

html {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: var(--FF-Barlow);
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
  font-family: var(--FF-Barlow);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

main {
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.container {
  background-color: var(--Neutral-Very-Light-Gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1rem;
  min-width: 100vw;
}

/* general styles: */
.logo:hover {
  cursor: pointer;
}
ul {
  list-style: none;
}

.hidden {
  display: none !important;
}
.barlow {
  font-family: var(--FF-Barlow);
}
.fraunces {
  font-family: var(--FF-Fraunces-headings) !important;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: black;
}
.hamburger {
  display: var(--hamburger-display);
  cursor: pointer;
  z-index: 100;
}
header {
  display: flex;
  flex-direction: column;
}

.bubble.active {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.bubble {
  margin: auto;
  background-color: white;
  width: 90%;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  height: 60%;
  justify-content: space-around;
  padding: 2rem 3rem;
  z-index: 100;
  transform: translateY(-200%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
/* .buble.active {
  transform: translateX(110%);
} */
/* bubble style */
.bubble-top-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid #fff;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-top: 20px solid transparent;
  right: 0px;
  top: -24px;
}
/* nav style */
.overlay {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
}
.nav {
  display: flex;

  justify-content: flex-end;
}
.top-logo {
  margin-right: auto;
}

nav {
  display: flex;

  align-items: center;
  padding: 1rem 2rem;
}

nav h2 {
  color: white;
}
.logo {
  font-weight: 900;
  font-family: var(--FF-Fraunces-headings);
}

.nav-items-container {
  display: flex;
  flex-direction: var(--nav-items-flex-direction);
  align-items: center;
  gap: 2rem;
}

.nav-links {
  color: var(--nav-links-color);
  font-weight: 600;
  transition: color 0.1s ease-in, background-color 0.2s ease-in;
  font-size: 1.2rem;
}
.nav-links:hover {
  color: var(--nav-links-hover-color);
  transition: color 0.2s ease-in;
}
.contact {
  padding: 1rem 2rem;
  border-radius: 40px;
  background-color: var(--contact-bg-color);
  color: var(--Neutral-Very-Dark-desaturated-Blue);
  font-family: var(--FF-Fraunces-headings);
}
.contact:hover {
  background-color: white;
  color: var(--Primary-Yellow);
  transition: color 0.1s ease-in, background-color 0.2s ease-in;
}
header .header--text {
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: var(--header-text-fs);
  letter-spacing: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* body style */
.learn-more {
  border-radius: 5px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0.3rem;
  /* opacity: 0.5; */
}

.learn-yellow {
  background-color: var(--Primary-Yellow-low-opacity);
  transition: all 0.2s ease-in;
}
.learn-yellow:hover {
  background-color: var(--Primary-Yellow);
  transition: all 0.2s ease-in;
}
.learn-red:hover {
  background-color: var(--Primary-Soft-Red);
  transition: all 0.2s ease-in;
}
.learn-red {
  background-color: var(--Primary-Soft-Red-low-opacity);
  transition: all 0.2s ease-in;
}
.body-container-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.each-grid-cell {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  max-width: 100vw;
}
.text-box {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  padding: 2rem;
  max-width: var(--text-box-max-width);
}
.text-box h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 2rem;
}
.text-box p {
  color: var(--Neutral-Grayish-Blue);
  padding: 1.5rem;
}
/* picture background styles: */
.top-picture-container {
  background-image: var(--top-picture-container-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 538px;
  min-width: 100vw;
}
.egg-photo-container,
.glass-photo-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 312px;
  min-width: var(--body-photos-width);
}

/* heigth property to be applied for just screens below 800px */
.egg-photo-container {
  background-image: var(--egg-photo-container);
  background-color: var(--Primary-Yellow);
}

.glass-photo-container {
  background-image: var(--glass-photo-container);
  background-color: var(--Primary-Soft-Red);
}

.cherry-photo-container,
.mandaline-photo-container {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px;
  min-width: var(--body-photos-width);
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.cherry-photo-container {
  background-image: var(--cherry-photo-container);
  background-color: rgb(155, 219, 205);
  color: var(--Primary-Dark-cyan-graphic-design-text);
}

.mandaline-photo-container {
  background-image: var(--mandaline-photo-container);
  color: var(--Primary-Dark-Blue-photography-text);
  background-color: hsl(199, 98%, 66%);
}

/* 2 of the inline images */
.inter-image-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  min-height: 100%;
  margin-top: auto;
  gap: 2rem;
  padding-inline: 2rem;
}

@media screen and (max-width: 800px) {
  .top-picture-container {
    height: calc(100px + 100vw);
  }
  .egg-photo-container,
  .glass-photo-container {
    height: calc(100px + 100vw);
  }
  .cherry-photo-container,
  .mandaline-photo-container {
    height: calc(100px + 100vw);
  }

  .client-testimonials-container h2 {
    margin-bottom: 4rem;
  }
}

.client-testimonials-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  min-width: 100vw;
}

.client-testimonials-container h2 {
  font-size: 1.3rem;
  color: var(--Neutral-Dark-Grayish-Blue);
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.testimonials-container {
  display: flex;
  flex-direction: var(--testimonial-container-flex-direction);
  gap: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin: 2rem auto;
}

.each-testimony-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 100%;
  margin: auto;
  max-width: 380px;
}

.profile-pic {
  width: 80px;
  margin: 0 auto;
  border-radius: 100%;
}

.testimony {
  font-size: 1.2rem;
  color: var(--Neutral-Very-Dark-Grayish-Blue);
}

.user-name {
  font-size: 1.3rem;
  font-weight: 900;
}

.user-title {
  margin-top: -2rem;
  color: var(--Neutral-Grayish-Blue);
}

/* bottom of the page photo list */
.photo-list-container {
  display: grid;
  grid-template-columns: var(--photos-list-template-grid-columns);

  max-width: 100vw;
}

.photo-list-each-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;

  width: var(--photo-list-each-photo-width);
  height: calc(100px + 30vw);
}
.bottles {
  background-image: var(--bottles);
  background-color: hsl(201, 84%, 59%);
}
.orange {
  background-color: hsl(36, 100%, 50%);
  background-image: var(--orange);
}
.cone {
  background-color: hsl(197, 97%, 65%);
  background-image: var(--cone);
}
.sugar {
  background-color: hsl(2, 99%, 72%);
  background-image: var(--sugar);
}

.footer {
  background-color: var(--Primary-Moderate-cyan-footer);
  gap: 2rem;
  padding: 4rem 0rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-width: 100vw;
}

footer * {
  color: var(--Primary-Moderate-cyan-footer-text);
}

footer h2 {
  color: var(--Primary-Dark-cyan-graphic-design-text);
  font-size: 2rem;
}

.footer-items-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  gap: 3rem;
  flex-wrap: wrap;
}

.social-media-logos-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: auto;
  gap: 1.5rem;
  flex-wrap: wrap;

  font-size: 1.2rem;
}

.footer-links {
  text-decoration: none;
}

footer a,
i {
  transition: all 0.2s ease-in;
}

footer a:hover,
i:hover {
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  color: white;
  transition: all 0.2s ease-in;
}

@media screen and (min-width: 800px) {
  :root {
    --top-picture-container-image: url("./Assets/images/desktop/image-header.jpg");
    --egg-photo-container: url("./Assets/images/mobile/image-transform.jpg");
    --glass-photo-container: url("./Assets/images/desktop/image-stand-out.jpg");
    --cherry-photo-container: url("./Assets/images/desktop/image-graphic-design.jpg");
    --mandaline-photo-container: url("./Assets/images/desktop/image-photography.jpg");
    --bottles: url("./Assets/images/desktop/image-gallery-milkbottles.jpg");
    --orange: url("./Assets/images/desktop/image-gallery-orange.jpg");
    --cone: url("./Assets/images/desktop/image-gallery-cone.jpg");
    --sugar: url("./Assets/images/desktop/image-gallery-sugarcubes.jpg");
    --nav-items-flex-direction: row;
    --hamburger-display: none;
    --body-photos-width: 50vw;
    --testimonial-container-flex-direction: row;
    --overlay-display: none;
    --photos-list-template-grid-columns: repeat(4, 1fr);
    --photo-list-each-photo-width: 25vw;
    --header-text-fs: 1.5rem;
    --contact-bg-color: rgba(255, 255, 255, 1);
    --text-box-max-width: 700px;
  }
  .top-picture-container {
    background-size: cover;
    min-height: 800px;
    height: 100vh;
  }
  .body-container-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .bubble-top-right:before {
    all: initial;
  }
  .bubble {
    all: initial;
    font-family: var(--FF-Barlow);
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 1rem;
  }

  .top-logo {
    margin-right: auto;
    font-size: 2rem;
  }

  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
    color: white;
  }
  .nav-links {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .nav-links:hover {
    color: black;
  }

  .contact {
    text-shadow: none;
    color: black;
  }
  .contact:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
  }

  header .header--text {
    margin-top: 10rem;
  }

  #overlay {
    display: none !important;
  }

  .hidden {
    display: flex !important;
  }
  .each-grid-cell {
    flex-direction: row;
    height: calc(100px + 40vw);
  }
  .second-cell {
    flex-direction: row-reverse;
  }
  .text-box h2,
  .text-box p {
    text-align: left;
    padding: 0;
  }
  .text-box {
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding-inline: 5rem 10rem;
  }
  .client-testimonials-container {
    min-height: 800px;
    align-items: center;
    justify-content: center;
  }

  .testimonials-container {
    flex-direction: var(--testimonial-container-flex-direction);
  }
  .each-testimony-container {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 400px;
  }

  .photo-list-each-photo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
